<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#00BFFF">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/material-design-icons@3.0.1/iconfont/material-icons.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/katex@0.9.0/dist/katex.min.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/katex@0.9.0/dist/contrib/copy-tex.min.css">
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/aplayer@1.10.1/dist/APlayer.min.css">
  <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="{{ site.path }}/css/main.css">
  <title>{{ page.title  }} - {{ site.title }}</title>
</head>
<body>
  <div class="container">
    {% include header.html %}
    <div>{{ content }}</div>
    {% include footer.html %}
  </div>
  <span id="dsq_url" style="display:none;">{{ site.disqus.url }}</span>
  <script src="https://unpkg.com/katex@0.9.0/dist/katex.min.js"></script>
  <script src="https://unpkg.com/katex@0.9.0/dist/contrib/mathtex-script-type.min.js"></script>
  <script src="https://unpkg.com/katex@0.9.0/dist/contrib/auto-render.min.js"></script>
  <script src="https://unpkg.com/katex@0.9.0/dist/contrib/copy-tex.min.js"></script>
  <script src="https://unpkg.com/aplayer@1.10.1/dist/APlayer.min.js"></script>
  <script id="dsq-count-scr" src="{{ site.disqus.url }}/count.js" async></script>
  <script src="{{ site.path }}/js/main.js"></script>
</body>
</html>
